<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar [routerLink]="['/']" class="home-button-container" slot="start">
      <img src="assets/icon/favicon.png" class="home-button" />
    </ion-avatar>
    <ion-title slot="start">
      Obispos
    </ion-title>
    <ion-buttons slot="end">
      
      <ion-fab-button color="secondary" size="small">
        <ion-menu-button></ion-menu-button>
      </ion-fab-button>
      
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="bg-sdb">
      <div class="container">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12"  class="ion-text-center">
                      <img src="assets/escudos/obispos-header.png" class="consejo-header" />
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      
                        <ion-item>
                          <h2 class="ion-text-center ion-padding-top ion-padding-bottom">
                            Obispos Salesianos en Centroamerica
                          </h2>
                        </ion-item>
                        
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col>
                      <ion-item *ngFor="let contacto of obispos" (click)="viewObispo(contacto.id)">
                          <ion-avatar *ngIf="!contacto.avatar" slot="start">
                            <img class="contact-photo" src="assets/contacto-icon.png">
                          </ion-avatar>
                          <ion-avatar *ngIf="contacto.avatar" slot="start">
                            <img class="contact-photo" src="{{contacto.avatar}}">
                          </ion-avatar>
                          <ion-label>
                            <ion-text>
                              {{ contacto.nombre }} {{ contacto.apellido }}
                            </ion-text>
                            <ion-label color="danger">{{ contacto.diocesis }}</ion-label>
                            <!-- <p>{{ contacto.email }}</p> -->
                          </ion-label>
                      </ion-item>
                      
                    </ion-col>
                  </ion-row>

                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
  </section>
</ion-content>