<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar [routerLink]="['/']" class="home-button-container" slot="start">
      <img src="assets/icon/favicon.png" class="home-button" />
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-fab-button color="secondary" size="small">
        <ion-menu-button></ion-menu-button>
      </ion-fab-button>
      
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <section class="bg-sdb">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="3"  class="ion-text-center ion-align-self-center"></ion-col>
            <ion-col size="6"  class="ion-text-center ion-align-self-center">
              <img src="assets/cakecolor.png" class="consejo-header" />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                  <ion-label class="ion-text-center ion-padding-top ion-padding-bottom">
                    Cumpleaños y Aniversarios
                  </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-grid *ngFor="let item of data | keyvalue">
          <ion-row>
            <ion-col>
              <ion-button color="primary" expand="block" shape="round">{{ item.key }}</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let aniversario of item.value">
            <ion-col  size="12" class="ion-text-center">
                <ion-item (click)="viewContact(aniversario.id,aniversario.type)">
                  <ion-avatar slot="start">
                    <img class="round-0" src="assets/cakecolor.png">
                  </ion-avatar>
                  <ion-text>
                    {{ aniversario.nombre }}
                    <ion-text color="danger"><p>{{ aniversario.descripcion }}</p></ion-text>
                  </ion-text>
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>


