<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar [routerLink]="['/']" class="home-button-container" slot="start">
      <img src="assets/icon/favicon.png" class="home-button" />
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-fab-button color="secondary" size="small">
        <ion-menu-button></ion-menu-button>
      </ion-fab-button>
      
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="bg-sdb">
    <ion-item-divider>
      Asociaciones Nacionales
    </ion-item-divider>
      
      <ion-item *ngFor="let item of grupos" (click)="viewGroup(item.id, item.name)">
          <ion-avatar  slot="start">
            <img class="contact-photo" src="assets/m-icons/animacion-icon.png">
          </ion-avatar>
          
          <ion-label>
            <ion-text>{{ item.name }}</ion-text>
          </ion-label>
      </ion-item>

  </section>
</ion-content>
