<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar [routerLink]="['/']" class="home-button-container" slot="start">
      <img src="assets/icon/favicon.png" class="home-button" />
    </ion-avatar>
    <ion-title slot="start">
      Fallecidos
    </ion-title>
    <ion-buttons slot="end">
      <ion-fab-button color="secondary" size="small">
        <ion-menu-button></ion-menu-button>
      </ion-fab-button>
      
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="bg-sdb">
      <ion-item *ngFor="let contacto of contactos" (click)="viewContact(contacto.id)">
          <ion-avatar *ngIf="!contacto.avatar" slot="start">
            <img class="contact-photo" src="assets/contacto-icon.png">
          </ion-avatar>
          <ion-avatar *ngIf="contacto.avatar" slot="start">
            <img class="contact-photo" src="{{contacto.avatar}}">
          </ion-avatar>
          <ion-label>
            <ion-text>{{ contacto.fullname }}</ion-text>
            <p>{{ contacto.friendly_death_date }}</p>
          </ion-label>
      </ion-item>

  </section>
</ion-content>
