.lvl-cbb994{
    background-color: #cbb994;
}
.lvl-b2a282{
    background-color: #b2a282;
}
.lvl-9a8a6a{
    background-color: #9a8a6a;
}
.lvl-827251{
    background-color: #827251;
}
.lvl-6e5c38{
    background-color: #6e5c38;
}
.lvl-604b21{
    background-color: #604b21;
}