<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-avatar [routerLink]="['/']" class="home-button-container" slot="start">
      <img src="assets/icon/favicon.png" class="home-button" />
    </ion-avatar>
    <ion-buttons slot="end">
      <ion-fab-button color="secondary" size="small">
        <ion-menu-button></ion-menu-button>
      </ion-fab-button>
      
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="bg-sdb">
    <ion-item>
      <ion-label>{{ groupname }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of members" >
      <ion-avatar *ngIf="item.avatar==false"  slot="start">
        <img class="contact-photo" src="assets/m-icons/userGeneric.png">
      </ion-avatar>
      <ion-avatar *ngIf="item.avatar"  slot="start">
        <img class="contact-photo" src="{{ item.avatar }}">
      </ion-avatar>
      
      <ion-label>
        <ion-text>{{ item.fullname }}</ion-text><br>
        <ion-text>{{ item.cargo }}</ion-text><br>
        <a href="mailto:{{ item.email }}">
            <small>{{ item.email }}</small>
          </a>
          </ion-label>
      </ion-item>

  </section>

</ion-content>
