<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Olvido su clave?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="bg-sdb ion-padding-top">

    <ion-row class="ion-justify-content-center">
      <ion-col size="4" class="ion-margin-top">
        <img src="assets/LogoSDBCAM@4x.png" class="app-login-logo ion-margin-top" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-margin-bottom">
        <ion-card>
          <ion-card-content>
            <form>
              <small>
                Por favor ingresar su correo electronico que utiliza para ingresar a esta aplicación.
              </small>
              <ion-item lines="full">
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input [(ngModel)]="params.email" type="email" name="email" id="email" required></ion-input>
              </ion-item>

              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="danger" (click)="resetPassword()" expand="block">Reestablecer clave</ion-button>
                </ion-col>
              </ion-row>

              
            </form>
          </ion-card-content>
        </ion-card>
        
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-margin-top">
            <img src="assets/LogoCAM_Color_horizontal_sin-caja.png" class="app-login-logo ion-margin-top" />
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </section>
</ion-content>